---

- include: "composer/get/file/status.yml"
  tags:    [composer, get, file, status]

- include: "composer/create/file/directory.yml"
  when:    '( not composer_file_exists|bool )'
  tags:    [composer, create, target, directory]

- include: "composer/download/file.yml"
  when:    '( (not composer_file_exists|bool) or (composer_download_force|bool) )'
  tags:    [composer, download, file]

- include: "composer/set/file/mode.yml"
  when:    '(composer_file_mode|default(none) != none)'
  tags:    [composer, set, file, mode]

- include: "composer/set/file/owner.yml"
  when:    '( composer_file_owner_name|default(none, true) != none )'
  tags:    [composer, set, file, owner]

- include: "composer/create/file/group.yml"
  when:    '( composer_file_group_name|default(none, true) != none )'
  tags:    [composer, create, file, group]

- include: "composer/set/file/group/members.yml"
  when:    '( (composer_file_group_name|default(none, true) != none) and (composer_file_group_members|length > 0) )'
  tags:    [composer, set, file, group, members]

- include: "composer/set/file/group.yml"
  when:    '( composer_file_group_name|default(none, true) != none )'
  tags:    [composer, set, file, group]

- include: "composer/create/executable/directory.yml"
  when:    '( composer_executable_path|default(none, true) != none )'
  tags:    [composer, create, executable, directory]

- include: "composer/enable/executable.yml"
  when:    '( composer_executable_path|default(none, true) != none )'
  tags:    [composer, enable, executable]

- include: "composer/self/update.yml"
  tags:    [composer, self, update]

- include: "composer/get/auth/github.yml"
  tags:    [composer, get, auth, github]

- include: "composer/set/auth/github.yml"
  tags:    [composer, set, auth, github]
